<h1>New trigger</h1>

<% form_for(@trigger) do |f| %>
	<%= f.error_messages %>

	<table>
		<tr><td>Name:</td><td><%= f.text_field 'key' %></td></tr>
		<tr><td>Information</td><td><%= f.text_area 'value' %></td></tr>
	</table>
	<p>
		<%= f.submit "Create" %>
	</p>
<% end %>

<%= link_to 'Back', triggers_path %>
