<%= error_messages_for :user %>
<%= flash[:error] %>
<% form_for :user, @user, :url => {:action => 'update_user_prefs'}, :html => {:id => 'preferences_form'} do |f| -%>
<table id="basic_info" cellspacing="0">
	<tr>
		<td>email address</td> <td><%= f.text_field :login %></td>
	</tr>
	<tr>
		<td>Phone Settings</td>
		<td>
		<iframe 
		  style="width: 100%; height: 300px; border: none;" 
		  id="zeep_mobile_settings_panel" 
		  src="https://secure.zeepmobile.com/subscription/settings?api_key=2a19c120-f823-4b80-bdd0-164e33edde46&user_id=<%= @user.id %>">
		</iframe>
		</td>
	</tr>
	<tr><td><%= link_to 'Change Password', :action => 'change_password' %></td></tr>
</table>
<div id="plan_form">
<fieldset>
	<legend>Plan</legend>
	<% Plan.find(:all).each do |plan| %>
		<% if plan.number_of_triggers < @user.triggers.size %>
			Remove <%= @user.triggers.size - plan.number_of_triggers %> triggers to downgrade to <%= plan.number_of_triggers %> triggers<br />
		<% else %>
			<%= f.radio_button("plan_id", plan.id) + (plan.number_of_triggers.to_s + " " + (plan.number_of_triggers > 1 ? "Triggers" : "Trigger")) %> <br />
		<% end %>
	<% end %>
</fieldset>
</div>
<p><%= submit_tag 'Update' %></p>
<% end -%>
