<h1>Editing beta_code</h1>

<% form_for(@beta_code) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :times_used %><br />
    <%= f.text_field :times_used %>
  </p>
  <p>
    <%= f.label :limit %><br />
    <%= f.text_field :limit %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @beta_code %> |
<%= link_to 'Back', beta_codes_path %>
